.Layout {
	display: initial;
}

/* Пример модификаторов */
.Layout--primary {
	display: initial;
}
.bgcircle {
	position: fixed;
	aspect-ratio: 1439 / 2693;
	/*left: 1px;*/
	right: 1px;
	/*top: 0;*/
	/* Ellipse blur */
	z-index: -1;
	width: 1439px;
	height: 341px;
	left: calc(50% - 1439px/2 + 1px);
	top: -170px;

	background: #008CEB;
	filter: blur(200px);

}