.MainLayout {
	@media screen and (min-width: 1024px) {
		margin-top: var(--spacing-topmenu);
	}
	grid-row-gap: 7.5rem;
	&[class*="page-index"] {
		section{
			/* стили секций */
			&[data-type="hero"] {
				aspect-ratio: 1340 / 674;
				padding: 7.5rem 3rem 5rem;
                h1 {
                    color: white;
                }
				hgroup {
					color: white;
					position: relative;
					z-index: 10;
					display: grid;
					max-width: 50%;
					flex: 0 1 50%;
					margin-bottom: 2.5rem;
					@media screen and (max-width: 768px) {
						margin-bottom: 1.5rem;
					}
				}
				@media screen and (max-width: 767px){
					padding: 0;
					grid-column: 1/-1;
					margin-top: 0 !important;
					max-height: 100vh;
					height: 100vh;
					aspect-ratio: revert;
					display: grid;
					grid-template-columns: var(--grid-columns) !important;
                    [data-content="section_wrapper"] {
                        grid-column: 2/-2 !important;
                        margin-bottom: 0 !important;
                    }
					hgroup {
						max-width: initial;
					}

					& > div {
						padding: 1.5rem 1.25rem;
						margin: auto 0 0 !important;
						grid-column: 2/-2 !important;
						h1 {
							font-size: 1.75rem;
                            color: white;
						}
						p {
							font-size: .75rem;
							font-weight: normal;
							line-height: 1.4;
						}
						& {
							position: relative;
							background: rgba(255, 255, 255, 0.001); /* Цвет фона внутри рамки */
							backdrop-filter: blur(20px);
							border-radius: 40px; /* Закругленные углы */

						}

						&::before {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							border-radius: 40px;
							padding: 2px;
							background: linear-gradient(-45deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.005) 35%, rgba(255, 255, 255, 0.005) 77%, rgba(255, 255, 255, 0.8) 100%);
							-webkit-mask: linear-gradient(#ffffff 0 0) content-box, linear-gradient(#fff 0 0);
							-webkit-mask-composite: xor;
							mask-composite: exclude;
							pointer-events: none;
						}
					}
				}
				@media screen and (max-width: 1023px) {
					padding: 0;
					grid-column: 1/-1;
					margin-top: 0;
					max-height: 100vh;
					height: 100vh;
					aspect-ratio: revert;
					display: grid;
					grid-template-columns: var(--grid-columns);
					hgroup {
						max-width: initial;
					}
					& > div {
						padding: 1.5rem 1.25rem;
						margin: auto 0 1.5rem;
						grid-column: 2/-2;
						h1 {
							font-size: 1.875rem;
                            margin-bottom: .5rem;
						}
						p {
							font-size: .75rem;
							font-weight: normal;
							line-height: 1.4;
						}
						& {
							position: relative;
							background: rgba(255, 255, 255, 0.001); /* Цвет фона внутри рамки */
							backdrop-filter: blur(20px);
							border-radius: 40px; /* Закругленные углы */

						}

						&::before {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							border-radius: 40px;
							padding: 2px;
							background: linear-gradient(-45deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.005) 35%, rgba(255, 255, 255, 0.005) 77%, rgba(255, 255, 255, 0.8) 100%);
							-webkit-mask: linear-gradient(#ffffff 0 0) content-box, linear-gradient(#fff 0 0);
							-webkit-mask-composite: xor;
							mask-composite: exclude;
							pointer-events: none;
						}
					}
				}
				@media screen and (max-width: 1023px) and  (min-width: 768px) {
					padding: 0;
					grid-column: 1/-1;
					margin-top: 0;
					max-height: 100vh;
					/*height: 100vh;*/
					& > div {
						padding: 1.875rem;
						margin: auto 0 1.5rem;
						grid-column: 2/-2;
						h1 {
							font-size: 3.75rem;
						}
						p {
							font-size: 1.125rem;
							font-weight: normal;
							line-height: 1.4;
						}
					}
					img {
						object-fit: cover;
						height: 100%;
						/*width: auto !important;*/
					}
				}
				@media screen and (min-width: 1024px) and (max-width: 1439px){
					aspect-ratio: 1340 / 674;
					object-position: bottom;
					padding: 7.5rem 2rem 2rem;
					overflow: hidden;
					hgroup {
						max-width: 50%;
					}
					& > div {
						padding: 1.5rem 1.25rem;
						margin: auto 0 1.5rem;
						grid-column: 2/-2;
						h1 {
							font-size: 3rem;
						}
						p {
							font-size: 1rem;
							font-weight: normal;
							line-height: 1.4;
						}
						& {
							position: relative;
							background: rgba(255, 255, 255, 0.001); /* Цвет фона внутри рамки */
							backdrop-filter: blur(20px);
							border-radius: 40px; /* Закругленные углы */

						}

						&::before {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							border-radius: 40px;
							padding: 2px;
							background: linear-gradient(-45deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.005) 35%, rgba(255, 255, 255, 0.005) 77%, rgba(255, 255, 255, 0.8) 100%);
							-webkit-mask: linear-gradient(#ffffff 0 0) content-box, linear-gradient(#fff 0 0);
							-webkit-mask-composite: xor;
							mask-composite: exclude;
							pointer-events: none;
						}
					}
				}
				img {
					object-fit: cover;
                    border-radius: 0 !important;
					height: auto !important;
					width: auto;
					@media screen and (max-width: 1023px) {
						height: 100% !important;
						width: auto !important;
					}
				}

			}
			&[data-type="conditions"] {

				[data-content="section-link"] {

					order: 2;

				}

				[data-content="section-children"] {
					display: contents;
				}

				[data-content="section-cards"] {
					flex-wrap: wrap;
					justify-content: center;
					grid-column: 1/-1;
					display: flex;
					gap: 8rem;
					h4 {
						color: var(--color-primary);
						font-size: 7.5rem;
						text-align: center;
						display: inline-flex;
						justify-content: center;
						line-height: 5rem;
						margin-bottom: 1.875rem;
					}
					p {
						margin: 0;
						font-size: 1.5rem;
					}
					svg {
						width: 5rem;
						height: 5rem;
					}
					& > *:nth-child(2) {
						position: relative;
						&:before {
							content: '';
							position: absolute;
							height: 4.5rem;
							left: -4rem;
							top: calc(50% - 3rem);
							bottom: calc(50% - 1rem);
							border-right: .125rem solid white;
						}
						&:after {
							content: '';
							position: absolute;
							height: 4.5rem;
							top: calc(50% - 3rem);
							bottom: calc(50% - 1rem);
							right: -4rem;
							border-right: .125rem solid white;
						}

					}
				}

				@media screen and (max-width: 1023px){
					& > * {
						grid-column: 1/-1;
					}
					[data-content="card"] {
						h4 {
							font-size: 5rem;
							line-height: 5rem;
							margin-bottom: 1.25rem;
						}
						p {
							font-size: 1.125rem;
						}
						svg {
							width: 4rem;
							height: 5rem;
						}
					}
					[data-content="section-cards"] {
						flex-wrap: nowrap;
						gap: 1.875rem;
						justify-content: space-around;
						& > :nth-child(2) {
							&:before {
								height: 2rem;
								left: -1rem;
								top: 1rem;
							}
							&:after {
								height: 2rem;
								right: -1rem;
								top: 1rem;
							}

						}
					}
				}
                @media screen and (max-width: 767px) {
                    grid-template-columns: 1fr;
                    & > * {
                        grid-column: 1/-1;
                    }
                    hgroup {
                        p {
                            margin: 1rem 0;
                        }
                    }
                    [data-content="card"] {
                        h4 {
                            font-size: 3rem;
                            line-height: 3rem;
                            margin-bottom: 1.25rem;
                        }
                        p {
                            font-size: .875rem;
                        }
                        svg {
                            width: 2rem;
                            height: 3rem;
                        }
                    }
                }
			}
			&[data-type="oxygen"] {
				aspect-ratio: 1160 / 560;
				padding: 7.5rem 0;

				[data-content="section-links"] {
					grid-column: 3/-3;
				}
                img {
                    border-radius: 1.25rem;
                }

				hgroup {
					h2 {
						color: white;
						font-size: 2.5rem;
						line-height: 1.1;
						@media screen and (min-width: 1024px) {
							font-size: 5.625rem;
							line-height: 1.1;
						}
					}
					p {
						font-size: 1.5rem;
						line-height: 1.4;
					}
					color: white;
					position: relative;
					z-index: 10;
					display: grid;
					grid-column: 3/-3;
					flex: 0 1 50%;
				}

                @media screen and (max-width: 1024px){
                    grid-template-columns: 1fr;
                }
                @media screen and (max-width: 767px){
                    aspect-ratio: 328 / 450;
                    padding: 1.5rem 1.25rem;
                    grid-template-columns: 1fr;

                    img {
                        object-fit: cover;
                    }
                    hgroup {
                        p {
                            font-size: .875rem;
                            line-height: 140%;
                        }
                    }
                }
			}
			&[data-type="heading_img"] {
				hgroup {
					grid-column: 1/-1;
				}
				h2 {
					font-size: 7.5rem;
				}
				[data-bgimg="true"] {
					background-image: url("/images/heading_img.png");
					width: 12rem;
					background-size: 100%;
					background-repeat: no-repeat;
					height: 7.5rem;
					display: inline-block;
				}
                @media screen and (max-width: 1024px){
                    [data-content="section-wrapper"] {
                        grid-column: 2/-2;
                    }
                    hgroup {
                        margin-bottom: 0;

                        h2 {
                            font-size: 5.75rem;
                            margin-bottom: 0;
                        }
                    }
                }
                @media screen and (max-width: 767px){
                    aspect-ratio: 328 / 450;
                    grid-template-columns: 1fr;

                    img {
                        object-fit: cover;
                    }
                    hgroup {
                        margin-bottom: 0;
                        h2 {
                            font-size: 3.75rem;
                            margin-bottom: 0;
                        }
                        p {
                            font-size: .875rem;
                            line-height: 140%;
                        }
                    }
                }
			}
			&[data-type="benefits"] {
				[data-content="section-cards"] {
					grid-column: 1/-1;
					display: flex;
					justify-content: center;
					gap: 7.5rem;
					& > * {
						display: flex;
						flex-direction: column;
						align-items: center;
						img {
							order: -1;
							margin-bottom: 1.875rem;
						}
						h4 {
							color: var(--color-primary);
							font-size: 1.5rem;
						}
					}
				}
                @media screen and (max-width: 1024px){
                    grid-template-columns: 1fr;
                    [data-content="section-cards"] {
                        flex-wrap: wrap;
                        gap: 2rem;
                    }
                }
                @media screen and (max-width: 767px){

                    grid-template-columns: 1fr;

                    img {
                        object-fit: cover;
                    }
                    hgroup {
                        p {
                            font-size: .875rem;
                            line-height: 140%;
                        }
                    }
                    [data-content="section-cards"] {
                        display: grid;
                        gap: 2rem;
                    }
                }
			}
			&[data-type="real-stories"] {
                @media screen and (max-width: 767px){
                    grid-template-columns: 1fr;
                    [class*="mantine-Carousel-controls"] {
                        display: none;
                    }
                    [data-content="section-wrapper"] {
                        max-width: 90vw;
                        overflow: hidden;
                    }
                    [data-content="section-carousel"] {
                        overflow: clip;
                    }
                }

			}
			&[data-type="insurance"] {
				[data-content="section-cards"] {
					flex-wrap: wrap;
					display: flex;
					justify-content: center;
					grid-column: 1/-1;
					& > * {
						display: flex;
						flex-direction: column;

						p:not([class]) {
							order: 1;
							font-size: .875rem;
                            @media screen and (min-width: 1025px){
                                display: none;
                            }
						}
					}
				}
                @media screen and (max-width: 767px){
                    grid-template-columns: 1fr;
                }
			}
		}
	}
	&[class*="page-book-now"] {
		section {
			&[data-type="hero"] {
				aspect-ratio: 1340 / 404;
				padding: 7.5rem 3rem 0;
				display: flex;

				hgroup {

					position: relative;
					text-align: center;
					z-index: 10;
					margin: auto;
					max-width: 52rem;

					display: block;
					margin-bottom: 0;

					h1 {
						margin-bottom: 3rem;
						color: var(--color-primary);
					}
					p {
						font-size: 1.5rem;
						line-height: 1.4;
						color: #4D4D4D;
					}
				}
			}
			&[data-type="steps"] {
				[data-content="section-cards"] {

					flex-wrap: wrap;
					/*justify-content: center;*/
					grid-column: 3/-3;
					display: flex;
					gap: 4rem;
					text-align: left;
					counter-reset: h4-counter;

					& > * {
						display: block;
						flex: 1 100%;
					}

					h4 {
						color: var(--color-primary);
						font-size: 1.75rem;
						text-align: left;
						align-items: center;
						display: flex;
						/*justify-content: center;*/
						line-height: 1;
						margin-bottom: 1.875rem;
						&:before {
							counter-increment: h4-counter; /* Увеличение счетчика на 1 для каждого h4 */
							content: "Step 0" counter(h4-counter) "."; /* Отображение счетчика с точкой и пробелом */
							/* Дополнительные стили (цвет, отступы и т. д.) */
							margin-right: 1rem;
							border: .125rem solid var(--color-primary);
							color: var(--color-primary);
							font-weight: 500;
							margin-top: -.25rem;
							font-size: 1rem;
							display: inline-flex;
							align-items: center;
							padding: .75rem 1.25rem;
							line-height: .75;
							border-radius: 3rem;
						}
					}
					p, ul {
						text-align: left;
					}
					ul {
						list-style: initial;
						padding-left: 1rem;
						li {
							/*list-style: initial;*/
						}
					}
					svg {
						width: 5rem;
						height: 5rem;
					}
					[data-card="accordition"] {
						margin-top: 2.5rem;
						counter-reset: details-counter;
						details {
							summary {
								&:before {
									counter-increment: details-counter; /* Увеличение счетчика на 1 для каждого h4 */
									content: counter(details-counter) "."; /* Отображение счетчика с точкой и пробелом */
									/* Дополнительные стили (цвет, отступы и т. д.) */
									margin-right: .5rem;
								}
							}
						}
					}
				}
			}
			&[data-type="treatment"] {
				[data-content="section-cards"] {
					flex-wrap: wrap;
					display: flex;
					justify-content: center;
					grid-column: 2/-2;
					& > * {
						display: flex;
						flex-direction: column;

						h4 {
							order: 1;
							font-size: .875rem;
						}
						img {
							width: 100%;
						}
					}
				}
			}
		}
	}
	&[class*="page-refer-a-patient"] {

		section {

			&[data-type="hero"] {
				aspect-ratio: 1440 / 400;
				padding: 7.5rem 3rem 5rem;

				hgroup {

					position: relative;
					z-index: 10;
					display: grid;
					max-width: 50%;
					flex: 0 1 50%;
					margin-bottom: 2.5rem;
				}
                @media screen and (max-width: 767px) {
                    aspect-ratio: 1340 / 674 !important;
                    padding: 0 !important;
                }
			}
            @media screen and (max-width: 767px){
                & > * {
                    grid-column: 1/-1;
                }
            }
            @media screen and (max-width: 1023px){
                & > *, 		[data-content="section-cards"] {
                    grid-column: 2/-2;
                }
            }
		}
	}
	&[class*="page-contacts"] {
		section{

            h1 {
                color: var(--color-primary);
            }
			/* стили секций */
			&[data-type="visitus"] {
                margin-bottom: 0;
                hgroup {
                    margin-bottom: 0;
                }
            }
			&[data-type="location"] {
				overflow: hidden;

				[data-content="section-children"] {
					flex-wrap: wrap;
					justify-content: center;
					grid-column: 2/-2;
					ul {
						list-style: none;
						padding: 0;
					}
					li {
						margin: 1rem 0;
						color: var(--color-main-gray);
					}
					h4 {
						color: var(--color-primary);
						/*font-size: 1.5rem;*/
					}
					h3 {
						color: var(--color-primary);
						margin-bottom: 1.875rem;
						/*font-size: 1.5rem;*/
					}
                    & > div {
                        display: grid;
                    }
				}

			}
			&[data-type="hero"] {
				aspect-ratio: 1340 / 674;
				/*padding: 7.5rem 3rem 5rem;*/
				hgroup {
					position: relative;
					z-index: 10;
					display: grid;
					max-width: 50%;
					flex: 0 1 50%;
					margin-bottom: 2.5rem;
				}
                @media screen and (max-width: 767px) {
                    aspect-ratio: 1340 / 674 !important;
                    padding: 0 !important;
                }
			}
			&[data-type="oxygen"] {
				aspect-ratio: 1160 / 560;
				padding: 7.5rem 0;

				[data-content="section-links"] {
					grid-column: 3/-3;
				}
				hgroup {
					h2 {
						color: white;
						font-size: 2.5rem;
						line-height: 1.1;
						@media screen and (min-width: 1024px) {
							font-size: 5.625rem;
							line-height: 1.1;
						}
					}

					p {
						font-size: 1.5rem;
						line-height: 1.4;
					}
					color: white;
					position: relative;
					z-index: 10;
					display: grid;
					grid-column: 3/-3;
					flex: 0 1 50%;
				}
			}
			&[data-type="heading_img"] {
				hgroup {
					grid-column: 1/-1;
				}
				h2 {
					font-size: 7.5rem;
				}
				[data-bgimg="true"] {
					background-image: url("/images/heading_img.png");
					width: 12rem;
					background-size: 100%;
					background-repeat: no-repeat;
					height: 7.5rem;
					display: inline-block;
				}
			}
			&[data-type="benefits"] {
				[data-content="section-cards"] {
					grid-column: 1/-1;
					display: flex;
					justify-content: center;
					gap: 7.5rem;
					& > * {
						display: flex;
						flex-direction: column;
						align-items: center;
						img {
							order: -1;
							margin-bottom: 1.875rem;
						}
						h4 {
							color: var(--color-primary);
							font-size: 1.5rem;
						}
					}
				}
			}
			&[data-type="real-stories"] {

			}
			&[data-type="insurance"] {
				[data-content="section-cards"] {
					flex-wrap: wrap;
					display: flex;
					justify-content: center;
					grid-column: 1/-1;
					& > * {
						display: flex;
						flex-direction: column;

						h4 {
							order: 1;
							font-size: .875rem;
						}
					}
				}
			}
            @media screen and (max-width: 767px){
                & > * {
                    grid-column: 1/-1;
                }
            }
            @media screen and (max-width: 1023px){
                & > *, 		[data-content="section-cards"] {
                    grid-column: 2/-2;
                }
            }
		}
	}
	&[class*="page-insurance"] {
		section {
			&[data-type="hero"] {
				aspect-ratio: 1340 / 404;
				padding: 7.5rem 3rem 0;
				display: flex;

				hgroup {
					position: relative;
					text-align: center;
					z-index: 10;
					margin: auto;
					max-width: 52rem;

					display: block;
					margin-bottom: 0;

					h1 {
						margin-bottom: 3rem;
						color: var(--color-primary);
					}
					p {
						font-size: 1.5rem;
						line-height: 1.4;
						color: #4D4D4D;
					}
				}
                @media screen and (max-width: 767px){
                    padding-top: 4rem !important;
                }
			}
			&[data-type="steps"] {
				[data-content="section-cards"] {

					flex-wrap: wrap;
					/*justify-content: center;*/
					grid-column: 3/-3;
					display: flex;
					gap: 4rem;
					text-align: left;
					counter-reset: h4-counter;

					& > * {
						display: block;
						flex: 1 100%;
					}

					h4 {
						color: var(--color-primary);
						font-size: 1.75rem;
						text-align: left;
						align-items: center;
						display: flex;
						/*justify-content: center;*/
						line-height: 1;
						margin-bottom: 1.875rem;
						&:before {
							counter-increment: h4-counter; /* Увеличение счетчика на 1 для каждого h4 */
							content: "Step 0" counter(h4-counter) "."; /* Отображение счетчика с точкой и пробелом */
							/* Дополнительные стили (цвет, отступы и т. д.) */
							margin-right: 1rem;
							border: .125rem solid var(--color-primary);
							color: var(--color-primary);
							font-weight: 500;
							margin-top: -.25rem;
							font-size: 1rem;
							display: inline-flex;
							align-items: center;
							padding: .75rem 1.25rem;
							line-height: .75;
							border-radius: 3rem;
						}

					}
					p, ul {
						text-align: left;
					}

					svg {
						width: 5rem;
						height: 5rem;
					}
					[data-card="accordition"] {
						margin-top: 2.5rem;
						counter-reset: details-counter;
						details {
							summary {
								&:before {
									counter-increment: details-counter; /* Увеличение счетчика на 1 для каждого h4 */
									content: counter(details-counter) "."; /* Отображение счетчика с точкой и пробелом */
									/* Дополнительные стили (цвет, отступы и т. д.) */
									margin-right: .5rem;
								}
							}
						}
					}
				}
                @media screen and (max-width: 1023px){
                    [data-content="section-cards"] {
                        grid-column: 2/-2;
                    }
                }
                @media screen and (max-width: 767px){
                    [data-content="section-cards"] {
                        h4 {
                            color: var(--color-primary);
                            font-size: 1.75rem;
                            text-align: center;
                            align-items: center;
                            justify-items: center;
                            align-content: center;
                            display: grid;
                            gap: 1.25rem;
                            /*justify-content: center;*/
                            line-height: 1;
                            margin-bottom: 1.875rem;

                        }
                    }
                }

			}
			&[data-type="insurance"] {
				[data-content="section-cards"] {
					flex-wrap: wrap;
                    display: grid;
                    justify-items: stretch;
                    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
					grid-column: 2/-2;
					& > * {
						display: flex;
						flex-direction: column;

						h4 {
							order: 1;
							font-size: .875rem;
						}
						img {
							width: 100%;
						}
					}
				}
                @media screen and (max-width: 1023px){
                    & > *, [data-content="section-cards"] {
                        grid-column: 1/-1;
                    }
                }
			}
		}
	}
	&[class*="page-prices"] {
		section {
			&[data-type="hero"] {
				aspect-ratio: 1340 / 404;
				padding: 7.5rem 3rem 0;
				display: flex;

				hgroup {
					color: initial;
					position: relative;
					text-align: center;
					z-index: 10;
					margin: auto;
					max-width: 52rem;

					display: block;
					margin-bottom: 0;

					h1 {
						margin-bottom: 3rem;
						color: var(--color-primary);
					}
					p {
						font-size: 1.5rem;
						line-height: 1.4;
						color: #4D4D4D;
					}
				}
                @media screen and (max-width: 767px){
                    padding-top: 4rem !important;
                    hgroup {
                        h1 {
                            margin-bottom: 2rem;
                        }
                    }
                }
			}
			&[data-type="steps"] {
				[data-content="section-cards"] {

					flex-wrap: wrap;
					/*justify-content: center;*/
					grid-column: 3/-3;
					display: flex;
					gap: 4rem;
					text-align: left;
					counter-reset: h4-counter;

					& > * {
						display: block;
						flex: 1 100%;
					}

					h4 {
						color: var(--color-primary);
						font-size: 1.75rem;
						text-align: left;
						align-items: center;
						display: flex;
						/*justify-content: center;*/
						line-height: 1;
						margin-bottom: 1.875rem;
						&:before {
							counter-increment: h4-counter; /* Увеличение счетчика на 1 для каждого h4 */
							content: "Step 0" counter(h4-counter) "."; /* Отображение счетчика с точкой и пробелом */
							/* Дополнительные стили (цвет, отступы и т. д.) */
							margin-right: 1rem;
							border: .125rem solid var(--color-primary);
							color: var(--color-primary);
							font-weight: 500;
							margin-top: -.25rem;
							font-size: 1rem;
							display: inline-flex;
							align-items: center;
							padding: .75rem 1.25rem;
							line-height: .75;
							border-radius: 3rem;
						}
					}
					p, ul {
						text-align: left;
					}
					ul {
						list-style: initial;
						padding-left: 1rem;
						li {
							/*list-style: initial;*/
						}
					}
					svg {
						width: 5rem;
						height: 5rem;
					}
					[data-card="accordition"] {
						margin-top: 2.5rem;
						counter-reset: details-counter;
						details {
							summary {
								&:before {
									counter-increment: details-counter; /* Увеличение счетчика на 1 для каждого h4 */
									content: counter(details-counter) "."; /* Отображение счетчика с точкой и пробелом */
									/* Дополнительные стили (цвет, отступы и т. д.) */
									margin-right: .5rem;
								}
							}
						}
					}
				}
			}
			&[data-type="treatment"] {
				[data-content="section-cards"] {
					flex-wrap: wrap;
					display: grid;
					justify-content: center;
					justify-items: stretch;
					grid-column: 1/-1;
					grid-template-columns: repeat(auto-fit, minmax(18.5rem, 1fr));
					gap: 2rem;

					& > * {
						display: flex;
						flex: 1 22.5rem;
						flex-direction: column;
						overflow: hidden;
						padding: 3rem 1.875rem 1.875rem;
						border-radius: 0 0 1rem 1rem ;
						&:nth-child(1) {
							background-color: #FEF6D2;
							--label-color: #FCB927;
							svg {
								path:nth-child(1) {
									fill: var(--color-primary);
								}
							}
						}
						&:nth-child(2) {
							background-color: #D8F6D2;
							--label-color: #34B935;
							svg {
								path:nth-child(1), path:nth-child(2)  {
									fill: var(--color-primary);
								}
							}
						}
						&:nth-child(3) {
							background-color: #DAF2FE;
							--label-color: #008CEB;
							svg {
								path:nth-child(1), path:nth-child(2), path:nth-child(3)  {
									fill: var(--color-primary);
								}
							}
						}
						&:nth-child(1) {
							[data-variant='custom'] {
								background: var(--color-yellow-custom);
							}
							li {
								color:  var(--color-yellow-custom);
								span {
									color: var(--color-main-gray);
									&:after {
										content: ' $';
									}
								}
							}
						}
						&:nth-child(2) {
							[data-variant='custom'] {
								background: var(--color-green-custom);
							}
							li {
								color: var(--color-green-custom);
								span {
									color: var(--color-main-gray);
									&:after {
										content: ' $';
									}
								}
							}
						}
						&:nth-child(3) {
							[data-variant='custom'] {
								background: var(--color-primary);
							}
							li {
								color: var(--color-primary);
								span {
									color: var(--color-main-gray);
									&:after {
										content: ' $';
									}
								}
							}
						}
						ul {
							gap: 1.125rem;
							display: grid;
							padding: 0;
							li {
								list-style: none;
								display: flex;
								justify-content: space-between;
								span {
									font-weight: 600;
									&:after {
										content: ' $';
									}
								}
							}
						}
						[data-card="leading"] {
							text-align: left;
                            font-weight: 500;
							font-size: 1rem;
							color: var(--color-main-gray);
							margin-bottom: 2.5rem;
							margin-top: .25rem;
						}
						h4 {
							display: grid;
							grid-template-columns: 2rem 1fr;
							gap: 1rem;
							text-align: left;
							justify-content: start;
							align-items: center;
							margin-bottom: 1.875rem;

							line-height: 1;
							color:  var(--color-primary);
							order: -1;
							font-size: 2.25rem;
						}

						h6 {
							display: grid;
							grid-template-columns: 1.125rem 1fr;
							gap: 1rem;
							text-align: left;
							justify-content: start;
							align-items: center;
							line-height: 1;
							font-size: 1.75rem;
							color: var(--color-main-gray);
							svg {
								width: 1.125rem;
								height: 1.125rem;
								fill: currentColor;
								path {
									fill: currentColor !important;
								}
							}

						}

						img {
							width: 100%;
						}
					}
                    @media screen and (max-width: 1023px){
                        grid-template-columns: 1fr;
                        & > * {
                            border-radius: 1rem;
                            &  > h4, &  > h6, &  > p {
                                margin-left: auto;
                                margin-right: auto;
                                justify-items: center;
                            }

                        }
                    }
				}


				[data-content="section-links"] {
					margin-top: 3rem;
					margin-left: -1.875rem ;
					margin-right: -1.875rem ;
					order: 3;
					display: flex;
					margin-bottom: -2rem;

					[data-variant='custom'] {
						flex: 1;
						max-width: -webkit-fill-available;
						max-width: initial;
						opacity: 0.8;
						border-radius: initial;
						height: 3.75rem;
						display: flex;
						justify-content: center;
						align-content: center;
						color: white;
						&:hover {
							opacity: 1;
						}
						text-align: center;
						&:before {
							content: none;
							background-color: var(--color-green);
						}
						span {

						}
						&:before {
							content: none;
						}


					}
				}
                @media screen and (max-width: 767px){
                    & > * {
                        grid-column: 1/-1;
                    }
                }
                @media screen and (max-width: 1023px){
                    & > *, 		[data-content="section-cards"] {
                        grid-column: 2/-2;
                    }
                }


			}
			&[data-type="transparent-pricing-for-personalized-care"] {
				grid-row-gap: 1.875rem;
				& > * {
					grid-column: 3/-3;
				}
				hgroup {
					grid-column: 3/-3;
					text-align: left;
					justify-content: start;
					h3 {
						color: var(--color-primary);
					}
				}
                @media screen and (max-width: 767px){
                    hgroup {
                        margin-bottom: 0;
                        h2 {
                            text-align: center;
                        }
                    }
                    /*& > * {*/
                    /*    border-radius: 1rem;*/
                    /*    &  > h4, &  > h6, &  > p {*/
                    /*        margin-left: auto;*/
                    /*        margin-right: auto;*/
                    /*        justify-items: center;*/
                    /*    }*/

                    /*}*/
                }
                @media screen and (max-width: 767px){
                    & > * {
                        grid-column: 1/-1;
                    }
                }
                @media screen and (max-width: 1023px){
                    & > *, 		[data-content="section-cards"] {
                        grid-column: 2/-2;
                    }
                }
			}
		}
	}
	&[class*="page-faq"] {
		section {
			&[data-type="hero"] {
				aspect-ratio: 1340 / 404;
				padding: 7.5rem 3rem 0;
				display: flex;

				hgroup {

					position: relative;
					text-align: center;
					z-index: 10;
					margin: auto;
					max-width: 52rem;

					display: block;
					margin-bottom: 0;

					h1 {
						margin-bottom: 3rem;
						color: var(--color-primary);
					}
					p {
						font-size: 1.5rem;
						line-height: 1.4;
						color: #4D4D4D;
					}
				}
                @media screen and (max-width: 767px){
                    padding-top: 4rem !important;
                }
			}
			&[data-type="steps"] {
				[data-content="section-cards"] {

					flex-wrap: wrap;
					/*justify-content: center;*/
					grid-column: 3/-3;
					display: flex;
					gap: 4rem;
					text-align: left;
					counter-reset: h4-counter;

					& > * {
						display: block;
						flex: 1 100%;
					}

					h4 {
						color: var(--color-primary);
						font-size: 1.75rem;
						text-align: left;
						align-items: center;
						display: flex;
						/*justify-content: center;*/
						line-height: 1;
						margin-bottom: 1.875rem;
						&:before {
							counter-increment: h4-counter; /* Увеличение счетчика на 1 для каждого h4 */
							content: "Step 0" counter(h4-counter) "."; /* Отображение счетчика с точкой и пробелом */
							/* Дополнительные стили (цвет, отступы и т. д.) */
							margin-right: 1rem;
							border: .125rem solid var(--color-primary);
							color: var(--color-primary);
							font-weight: 500;
							margin-top: -.25rem;
							font-size: 1rem;
							display: inline-flex;
							align-items: center;
							padding: .75rem 1.25rem;
							line-height: .75;
							border-radius: 3rem;
						}
					}
					p, ul {
						text-align: left;
					}
					ul {
						list-style: initial;
						padding-left: 1rem;
						li {
							/*list-style: initial;*/
						}
					}
					svg {
						width: 5rem;
						height: 5rem;
					}
					[data-card="accordition"] {
						margin-top: 2.5rem;
						counter-reset: details-counter;
						details {
							summary {
								&:before {
									counter-increment: details-counter; /* Увеличение счетчика на 1 для каждого h4 */
									content: counter(details-counter) "."; /* Отображение счетчика с точкой и пробелом */
									/* Дополнительные стили (цвет, отступы и т. д.) */
									margin-right: .5rem;
								}
							}
						}
					}
				}
			}
			&[data-type="insurance"] {
				[data-content="section-cards"] {
					flex-wrap: wrap;
					display: flex;
					justify-content: center;
					grid-column: 2/-2;
					& > * {
						display: flex;
						flex-direction: column;

						h4 {
							order: 1;
							font-size: .875rem;
						}
						img {
							width: 100%;
						}
					}
				}
			}
		}
	}
	&[class*="page-what-is-hbot"] {
		section {
            @media screen and (max-width: 1023px){
                grid-template-columns: 1fr;
            }
			&[data-type="hero"] {

				aspect-ratio: 1340 / 674;
				padding: 7.5rem 3rem 5rem;
				display: flex;
				hgroup {
					color: white;
					position: relative;
					text-align: center;
					z-index: 10;
					margin: auto;
					max-width: 49rem;

					display: grid;
					margin-bottom: 2.5rem;

					h1 {
						margin-bottom: 3rem;
					}
					p {
						font-size: 1.5rem;
						line-height: 1.4;
					}
				}
                @media screen and (max-width: 1023px){
                    margin-top: 7rem;
                    aspect-ratio: 728/450;
                }
                @media screen and (max-width: 767px){
                    aspect-ratio: initial;
                    min-height: 75dvh;
                    margin-top: 5rem;
                    align-items: center;
                    padding: 1.5rem 1.25rem;
                    grid-template-columns: 1fr;
                    & * {
                        grid-column: 1/-1 !important;
                    }

                    img {
                        object-fit: cover;
                    }
                    hgroup {
                        p {
                            font-size: .875rem;
                            line-height: 140%;
                        }
                        h1 {
                            margin-bottom: 2rem;
                        }
                    }
                    img {
                        object-fit: cover;
                        border-radius: 1.25rem;
                    }
                }
			}
			&[data-type="what-therapy"] {
				[data-content="section-links"] {
					flex-wrap: wrap;
					justify-content: center;
					grid-column: 3/-3;
				}
				[data-content="section-cards"] {
					flex-wrap: wrap;
					/*justify-content: center;*/
					grid-column: 3/-3;
					display: flex;
					gap: 4rem;
					text-align: left;
					counter-reset: h4-counter;

					& > * {
						display: block;
						flex: 1 100%;
					}

					h4 {
						color: var(--color-primary);
						font-size: 1.75rem;
						text-align: left;
						align-items: center;
						display: flex;
						/*justify-content: center;*/
						line-height: 1;
						margin-bottom: 1.875rem;
						&:before {
							counter-increment: h4-counter; /* Увеличение счетчика на 1 для каждого h4 */
							content: "0" counter(h4-counter) "."; /* Отображение счетчика с точкой и пробелом */
							/* Дополнительные стили (цвет, отступы и т. д.) */
							margin-right: .5rem;
							border: .125rem solid var(--color-primary);
							color: var(--color-primary);
							font-weight: 500;
							margin-top: -.25rem;
							font-size: 1rem;
							display: inline-flex;
							align-items: center;
							padding: .875rem 1.25rem .625rem;
							line-height: .75;
							border-radius: 3rem;
						}
					}
					p, ul {
						text-align: left;
					}
					ul {
						li {
							list-style: initial;
						}
					}
					svg {
						width: 5rem;
						height: 5rem;
					}
				}
                @media screen and (max-width: 767px){
                    aspect-ratio: initial;
                    margin-top: 0;
                    padding: 1.5rem 0 1.5rem;
                    grid-template-columns: 1fr;
                    & * {
                        grid-column: 1/-1 !important;
                    }

                    img {
                        object-fit: cover;
                    }
                    hgroup {
                        p {
                            font-size: .875rem;
                            line-height: 140%;
                        }
                    }
                    [data-content="section-cards"] {
                        h4 {
                            color: var(--color-primary);
                            font-size: 1.75rem;
                            text-align: center;
                            align-items: center;
                            justify-items: center;
                            align-content: center;
                            display: grid;
                            gap: 1.25rem;
                            /*justify-content: center;*/
                            line-height: 1;
                            margin-bottom: 1.875rem;

                        }
                    }
                    img {
                        object-fit: cover;
                        border-radius: 1.25rem;
                    }
                }

			}
			&[data-type="why"] {
				[data-content="section-cards"] {
					grid-column: 1/-1;
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					justify-content: space-between;
					& > * {
						max-width: 19rem;
						text-align: left;

						h4 {
							color: var(--color-primary);
							margin-bottom: 1.25rem;
						}
						h6 {
							font-size: 1rem;
						}
						p {
							font-size: .875rem;
						}
						p[data-card="leading"] {
							color: var(--color-primary);
							text-align: center;
							font-size: 1rem;
						}
						h4, h6 {
							text-align: center;
						}
						img {
							order: -1;
							width: 100%;
							border-radius: 1.25rem;
							background-color: #DBCABD;
							margin-bottom: 1.75rem;
						}
					}
				}
                @media screen and (max-width: 1023px){
                    grid-template-columns: repeat(1, 1fr);
                    [data-content="section-cards"] {
                        grid-column: 1/-1;
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        justify-content: space-between;

                        & > * {

                        }
                        h4, h6, p {
                            margin: 0 0 1rem;
                        }
                        p {
                            font-weight: 400;
                        }
                    }
                }
                @media screen and (max-width: 767px){

                    [data-content="section-cards"] {
                        grid-column: 1/-1;
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        justify-content: space-between;

                        & > * {

                        }
                        h4, h6, p {
                            margin: 0 0 1rem;
                        }
                        p {
                            font-weight: 400;
                        }
                    }
                }
			}
			&[data-type="form-questions"] {
                @media screen and (max-width: 767px){

                }
			}
		}
	}
	&[class*="page-privacy"], &[class*="page-terms"] {
		color: var(--color-main-gray);

		p {
			margin: 2rem 0;
		}

		li {
			margin: 1rem 0;
		}

		h3 {
			margin: 3.5rem 0 2.5rem;
		}

		section {
			&[data-type="hero"] {
				aspect-ratio: 1340 / 404;
				padding: 7.5rem 3rem 0;
				display: flex;

				hgroup {
					color: initial;
					position: relative;
					text-align: center;
					z-index: 10;
					margin: auto;
					max-width: 52rem;

					display: block;
					margin-bottom: 0;

					h1 {
						margin-bottom: 3rem;
						color: var(--color-primary);
						& + p {
							margin-bottom: 0;
						}
					}
					p {
						font-size: 1.5rem;
						line-height: 1.4;
						color: #4D4D4D;
					}
				}
			}
		}
	}
        &[class*="page-"] {
            [data-type="hero"] {
                hgroup {
                    h1 {
                        color: white;
                    }
                }
            }
        }
    @media screen and (max-width: 767px) {
        &[class] {
            grid-row-gap: 3.75rem;

            section {
                h1, h2 {
                    margin-bottom: 2rem;
                }
                grid-template-columns: 1fr;
                hgroup {
                    grid-column: 1/-1;
                    display: block;
                }
                &[data-type="hero"] {
                    aspect-ratio: initial;
                    margin-top: 5rem;
                    padding: 1.5rem 0;
                    grid-template-columns: 1fr;

                    & * {
                        grid-column: 1/-1 !important;
                    }

                    img {
                        object-fit: cover;
                    }

                    hgroup {
                        p {
                            font-size: 1rem;
                            line-height: 140%;
                        }
                    }

                    img {
                        object-fit: cover;
                        border-radius: 1.25rem;
                    }

                }
            }
        }
    }
}
