.diagnosis {
    flex-wrap: wrap;
    justify-content: center;

    display: flex;
    gap: 1rem;

}

.wrapper {
    grid-column: 1/-1;
    display: block;
    gap: 3.75rem;
    position: relative;
    & > * {
        margin: 4rem 0;
        &:first-of-type {
            margin-top: 0;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.description {
    grid-column: 2/-2;
    display: grid;
    gap: 2rem;
    @media screen and (min-width: 1024px) {
        grid-template-columns: 1fr 1fr;
    }

    h3 {
        margin-bottom: 1.75rem;
        color: var(--color-primary);
    }
    ul {
        @media screen and (min-width: 1024px) {
            column-count: 2;
            li {
                margin-right: 2rem;
            }
        }
    }
}

.result {

}
.btn {
    @media screen and (min-width: 1440px) {
        &:before {
            content: none;
        }
        backdrop-filter: none;
        &:hover {
            background-color: transparent !important;
            color: var(--mantine-color-text) !important;

            &:before {
                content: '';
            }
        }
    }
    @media screen and (max-width: 1023px){
        color: var(--color-primary);
        background: var(--color-ash);
        box-shadow: var(--shadow);
    }
}
.all {
    grid-column: 2/-2;
    text-align: center;
    font-size: 1.5rem;
}
.bgcircle {
    position: absolute;
    /* Ellipse 7 */

    aspect-ratio: 1289 / 189;
    /*left: 1px;*/
    right: 1px;
    /*top: 0;*/
    /* Ellipse blur */
    z-index: -1;
    width: 90rem;
    height: 12rem;
    left: calc(50% - 1289px/2 + 1px);
    top: calc(50% - 177px/2);
    background: #008CEB;
    filter: blur(18rem);

}