
@layer components {
    .grid {

        --grid-margin: 1rem;
        --grid-columns: var(--grid-margin) 1fr 1fr var(--grid-margin);
        --grid-columns-inner: 1fr 1fr;
        --grid-gap: 1rem;


        @media screen and (min-width: 768px) {
            --grid-margin: 1fr;
            --grid-columns: var(--grid-margin) repeat(6, 7.5rem) var(--grid-margin);
            --grid-columns-inner: repeat(6, 7.5rem);
            --grid-gap: 0;
        }
        @media screen and (min-width: 1024px) {
            --grid-margin: 1fr;
            --grid-columns: var(--grid-margin) repeat(10, 6rem) var(--grid-margin);
            --grid-columns-inner: repeat(10, 6rem);
        }

        @media screen and (min-width: 1440px) {
            --grid-margin: 1fr;
            --grid-columns: var(--grid-margin) repeat(10, 8.375rem) var(--grid-margin);
            --grid-columns-inner: repeat(10, 8.375rem);
        }


        display: grid;
        grid-template-columns: var(--grid-columns);
        grid-gap: 0;

        & > * {
            grid-column: 2 / -2;
        }

    }
}