
@theme {

	--font-sans: "Circular PRTCL", sans-serif;
	--font-serif: "InterVariable", serif;
	--text-base--line-height: calc(1.4 / 1);
	--mantine-font-family: var(--font-serif);
	--input-font-family: var(--font-serif);
	/* spacing */
	--spacing-xl: 7.5rem;
	--spacing-lg: 3.75rem;
	--spacing-md: 2.5rem;
	--spacing-sm: 1.75rem;
	--spacing-xs: 1rem;
	--spacing-topmenu: 4rem;
	/* breakpoints */

	--breakpoint-sm: 769px;
	--breakpoint-md: 1025px;
	--breakpoint-lg: 1440px;

	--base-font-size: 4.44vw;
	--base-body-size: 1.125rem;
	--base-line-height: 140%;
	/*fonts*/
	--base-font-size-1440: 1vw;
	--base-body-size-1440: 1.125rem;
	--base-line-height-1440: 140%;

	/*colors*/
	--color-glass: rgba(255, 255, 255, 0.1);
	--color-block-bg: #F8F8F8;
	--color-primary: #008ceb;
	--color-blue-light: #DAF2FE;
	--color-main-gray: #4d4d4d;
	--color-page-bg: #eeeff5;
	--color-ash: #eeeff5;
    --color-yellow-light-custom: #FEF6D2;
    --color-yellow-custom: #FCB927;
    --color-salad-custom: #D8F6D2;
    --color-green-custom: #34B935;
    --color-red-custom: #E62D27;


}
