.Header {
    display: contents;
}

.wrapper {

    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    top: 0;
    overflow: hidden;
    grid-row-gap: 0;

    @media screen and (max-width: 1023px) {
        position: fixed;
        max-width: 100vw;
        overflow: hidden;
        left: 0;
        right: 0;
        z-index: 100;
        top: 0;
        grid-row-gap: 0;
        height: 5rem;
        grid-column-gap: 0;

        background: linear-gradient(180deg, #008CEB 0%, rgba(0, 136, 255, 0.7) 50%, rgba(0, 136, 255, 0) 100%);
        &[data-state="true"] {
            padding: 1rem 0;
            background-color: var(--color-primary);
            height: 100vh;
            bottom: 0;

        }
    }

}

.burger {
    grid-column: 1/2;
    justify-self: start;
    align-self: center;
    padding: .875rem .75rem;

    width: 2.875rem;
    height: 2.875rem;

    --shadow: 0 1.25rem 3rem rgba(0, 0, 0, 0.25);

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    font-size: 1rem;
    color: var(--color-main-gray);
    line-height: 1;
    white-space: nowrap;
    border-radius: 3rem;
    font-weight: 600;
    cursor: pointer;
    /*gradient*/
    position: relative;

    backdrop-filter: blur(1.25rem);


    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.25), inset .375rem .625rem 1.25rem rgba(255, 255, 255, 0.3);

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 3rem;
        padding: .125rem;
        background: linear-gradient(-45deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.005) 35%, rgba(255, 255, 255, 0.005) 77%, rgba(255, 255, 255, 0.8) 100%);
        -webkit-mask: linear-gradient(#ffffff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
    }
}

.logo {
    flex: 0 1 8.75rem;

    svg {
        max-width: 100%;
        height: auto;
    }

    @media screen and (max-width: 1023px) {

        grid-column: 2/4;
        flex: 0 1 8.75rem;
        max-width: 8.25rem;
        align-self: center;
        justify-self: center;
        width: 100%;
        aspect-ratio: 134/38;
        svg {
            max-width: 100%;
            height: auto;
        }
    }
}

.menu {
    margin-right: auto;
    display: flex;
    gap: var(--spacing-xs);
    @media screen and (max-width: 1023px) {

        display: grid;
        grid-column: 2/4;
        grid-row: 2/3;
        gap: var(--spacing-xs);
        justify-content: center;
        justify-items: center;
        margin: auto;
        &[data-state="false"] {
            opacity: 0;
            display: none;
        }
    }
}

.langswitcher {

    text-transform: uppercase;
    display: flex;
    gap: var(--spacing-xs);
    align-items: center;

    hr {
        width: .0625rem;
        height: 1rem;
        display: inline-block;
        background-color: white;
        line-height: inherit;
    }
}

.topbar {
    grid-column: 2/-2;
    position: relative;
    height: 4rem;
    display: flex;
    gap: var(--spacing-lg);
    align-items: center;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: -100vw;
        width: 300vw;
        height: 100%;
        background: var(--color-primary);
        z-index: -1;
    }

    @media screen and (max-width: 1023px) {
        &:before {
            content: none;
        }

        grid-column: 2/-2;
        position: relative;
        display: grid;
        grid-template-columns: 2.875rem repeat(2, 1fr) 2.875rem;
        gap: 1rem;
        align-items: center;
        height: 5rem;
        &[data-state="true"] {
            height: 100%;
            grid-template-rows: 3rem 1fr 3.875rem 1fr;

        }
    }
}

.bottombar {

    grid-column: 2/-2;
    position: relative;
    height: 2.125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: -100vw;
        width: 300vw;
        height: 100%;
        backdrop-filter: blur(20px);
        background: rgba(255, 255, 255, 0.6);
        z-index: -1;
    }

    @media screen and (max-width: 1023px) {
        &:before {
            content: none;
        }

        &[data-state="false"] {
            opacity: 0;
            display: none;
        }

        grid-column: 2/-2;
        position: relative;

        * {
            display: block;
            text-align: center;
        }

        a {
            color: white;
        }
    }

}

.address {
    display: grid;
    align-items: center;
    font-size: 1rem;
    justify-content: space-between;
    color: white;
    gap: .625rem;
}

.circle {

    box-sizing: border-box;
    display: inline-block;
    width: 1.125rem;
    height: .625rem;

    border: .125rem solid #828282;
    border-radius: 20px;

    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
}

.phoneButton {
    grid-column: 4/5;
    justify-self: center;
    align-self: center;
    /*padding: .75rem;*/
    width: 2.875rem;
    height: 2.875rem;

    &[data-state="true"] {
        opacity: 0;
        display: none;
    }

    --shadow: 0 1.25rem 3rem rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    font-size: 1rem;
    color: var(--color-main-gray);
    line-height: 1;
    white-space: nowrap;
    border-radius: 3rem;
    font-weight: 600;
    cursor: pointer;
    /*gradient*/
    position: relative;

    a {
        text-decoration: none;
        border-bottom: 0;
    }

    backdrop-filter: blur(1.25rem);


    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.25), inset .375rem .625rem 1.25rem rgba(255, 255, 255, 0.3);

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 3rem;
        padding: .125rem;
        background: linear-gradient(-45deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.005) 35%, rgba(255, 255, 255, 0.005) 77%, rgba(255, 255, 255, 0.8) 100%);
        -webkit-mask: linear-gradient(#ffffff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
    }

    svg {
        width: 1.125rem;
        height: 1.125rem;
    }
}

.btns {
    grid-column: 1/-1;
    margin-top: 2rem;

    &[data-state="false"] {
        opacity: 0;
        display: none;
    }

    a {
        justify-self: center;
        align-self: center;
        /*padding: .75rem;*/
        /*width: 2.875rem;*/
        height: 2.875rem;
        display: inline-flex;
        width: 100%;
        max-width: 10rem;
        --shadow: 0 1.25rem 3rem rgba(0, 0, 0, 0.25);
        font-size: .875rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;

        color: white;
        line-height: 1;
        white-space: nowrap;
        border-radius: 3rem;
        font-weight: 600;
        cursor: pointer;
        /*gradient*/
        position: relative;

        backdrop-filter: blur(1.25rem);


        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 .75rem 1.625rem rgba(0, 0, 0, 0.25), inset .375rem .625rem 1.25rem rgba(255, 255, 255, 0.3);

        &:first-of-type {
            background-color: initial;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 3rem;
            padding: .125rem;
            background: linear-gradient(-45deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.005) 35%, rgba(255, 255, 255, 0.005) 77%, rgba(255, 255, 255, 0.8) 100%);
            -webkit-mask: linear-gradient(#ffffff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            pointer-events: none;
        }
    }
}