.Header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    top: 0;
    overflow: hidden;
    grid-row-gap: 0;
}

.logo {
    flex:0 1 8.75rem;
    svg {
        max-width: 100%;
        height: auto;
    }
}
.menu {

}
.langswitcher {

    text-transform: uppercase;
    display: flex;
    gap: var(--spacing-xs);
    align-items: center;

    hr {
        width: .0625rem;
        height: 1rem;
        display: inline-block;
        background-color: white;
        line-height: inherit;
    }
}
.topbar {

}

.bottombar {

}

.circle {
    box-sizing: border-box;
    display: inline-block;
    width: 1.125rem;
    height: .625rem;

    border: .125rem solid #828282;
    border-radius: 20px;

    /* Inside auto layout */
    flex: none;
    flex-grow: 0;

}
