.Carousel {
	--mantine-scale: 1;
	grid-column: 1/-1;
    padding-bottom: 3rem;
}

/* Пример модификаторов */
.Carousel--primary {
	display: initial;
}
.controls {
    margin: 0 -4rem;
}
.control {
    width: 2rem;
    height: 2rem;
}
.indicator {

	width: .625rem;
	height: .625rem;
	border-radius: .625rem;
	background-color: #aab5c3;

	&[data-active="true"] {
		background-color: var(--color-primary);
	}
}

.indicators {
	bottom: -2.5rem;
}