.formWrapper {
	padding: 2.5rem;
	border-radius: 1.25rem;
	box-shadow: var(--shadow-lg);
	gap: .5rem 1.5rem ;
	[data-icon-position="left"] {
		display: none;
	}
    @media screen and (max-width: 767px){
        padding: 1.5rem 1.25rem;
        h3 {
            text-align: left;
        }
    }
}
.confirmPanel {
	grid-column: 1/-1;
	padding: 1.25rem;
	background-color: white;
	border-radius: .625rem;
	h3, h4 {
		font-size: 1.5rem;
		line-height: 1.4;
		color: var(--color-primary);
	}
}